*.user
*.sdf
*.opensdf
*.htm
*.suo
/binaries
/intermediate
/libraries
/trunk/xr_3da/ipch/
/trunk/xr_3da/.vs/
/_appdata_
fsgame.ltx
gamedata.db0
gamedata.db1
gamedata.db2
gamedata.db3
gamedata.db4
gamedata.db5
gamedata.db6
gamedata.db7
gamedata.db8
gamedata.db9
gamedata.dba
gamedata.dbb
gamedata.dbc
gamedata.dbd
